/* MAIN PAGE */


:root {
  --bc: #131113;
  /* --bc: #555555; */
  --hc: #0a000a; /* header/footer color varible */
  --mc: #333; /* menu color variable */
  --ptc: white;
  --stc: #ffffaa;
  --cbc: white;
  --cptc: black;
  --cstc: blue;

  /* Primary Fonts */

  --f1: "Shrikhand", cursive;
  --f2: "Concert One", cursive;

  /* Test Fonts */

  --t1: 'Contrail One', cursive;
  --t2: 'Yeseva One', cursive;
  --t3: 'Bungee', cursive;
  --t4: 'Racing Sans One', cursive;
  --t5: 'Lilita One', cursive;
  --t6: 'Sail', cursive;
  --t7: 'Baloo Thambi', cursive;
  --t8: 'Kumar One', cursive;
  --t9: 'Molle', cursive;
}

/* expandables */

.content {
  display: block;
  overflow: hidden;
  overflow: auto;
  background-color: var(--bc);
  height: 0px;
  transition: height .5s;
  bottom: 0px;
  padding: 0px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--bc);
}

.hideMe {
  display: none !important;
}

.pageEl {
  position: fixed;
  display: block;
  width: 100%;
  height: 40px;
  background-color: var(--hc);
  z-index: 20;
}

#header {
  top: -60px;
  height:100px;
}
#circle {
  position:absolute;
  top: 0px;
  background-color: var(--hc);
  height:150px;
  width:150px;
  left: calc(50% - 75px);
  display: block;
  border-radius: 50%;
}

#icon {
  position: relative;
  top: 70px;
  display: block;
  margin: 0 auto;
  padding: 3px;
  height: 50px;
  width: auto;
}

#menu {
  background-color: var(--mc);
  font-family: var(--f1);
  font-size: 20px;
  color: var(--ptc);
  position: fixed;
  top: calc(40% - 90px);
  left: -190px;
  display: block;
  width: 200px;
  height: 180px;
  z-index: 19;
  transition: 1s left;
}

#menu:hover {
  left: 0px;
}

#footer {
  bottom: 0px;
}
.card {
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  transition: all 1s cubic-bezier(.25,.8,.25,1);
  -webkit-transition: all 1s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* PICTURES STYLING */

#sections {
  margin-top: 40px;
  display: block;
  width: 100%;
  text-align: center;
  font-family: var(--f1);
  color: var(--ptc);
}

a {
  text-decoration: none;
  color: var(--ptc);
}

/* visited link */
a:visited {
    color: var(--stc);
}

/* mouse over link */
a:hover {
    color: hotpink;
}

#sections .whole {
  margin: 0 auto;
  width: 100%;
  color: var(--stc);
  transition: all .2s;
  -webkit-transition: all .5s;
}

#sections .whole:hover {
  color: var(--ptc);
  width: calc(100% - 20px);
  z-index: 5;
}

/* #two {
  margin: 0 auto;
}

.half {
  margin: 0 auto;
  width: 50%;
  color: var(--stc);
  transition: all .2s;
  -webkit-transition: all .5s;
}

.half:hover {
  color: var(--ptc);
  width: calc(50% - 20px);
} */
.sectionText {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  /* top: 140px; */
  font-size: 80px;
  margin: 0 auto;
  z-index: 15;
}

#aboutUs {
  height: 400px;
  display: block;
  background-image: url("../images/group_pics/practice_room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s height;
}

#members {
  display: block;
  height: 400px;
  background-image: url("../images/group_pics/od_profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s height;
}

#gigs {
  height: 400px;
  background-image: url("../images/group_pics/travis_solo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s height;
}

#contactUs {
  display: block;
  height: 400px;
  background-image: url("../images/group_pics/group_casual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: .5s height;
}


#news {
  display: inline-block;
  height: 400px;
  transition: .5s height;
}

#spotify {
  height: 400px;
  display: block;
}

#spotify iframe {
  z-index: 1;
  position: static;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

/* SOCIALS STYLING  */

#socials {
  height: 400px;
}
#socials .sectionText {
  top: 100px;
}

#links {
  vertical-align: middle;
  margin-top: 80px;
}

#yt {
  vertical-align: middle;
  height: 40px;
  padding: none;
  margin: none;
  background-color: blue;
}

.social {
  display: inline-block;
  position: relative;
  height: 10vw;
  width: 10vw;
  padding: none;
}

.icon {
  height: 40px;
  /*width:auto;*/
  transition: all .5s;
  vertical-align: middle;
}

.g-ytsubscribe {
  background-color: red;
  vertical-align: middle;
}

.icon:hover {
  height: 50px;
}


/* MEMBERS PAGE */
#men {
  margin-top: 40px;
  font-size: 0;
}

.person {
  font-size: 20px;
  display: inline-block;
  width: 50%;
  height: 50vw;
  transition: all 1s;
}

p {
  margin: 0;
  font-family: var(--f1);
  color: var(--ptc);
  width: inherit;
  height: inherit;
  line-height: 50vw;
  position: absolute;
  font-size: 0px;
  text-align: center;
  transition: all .5s;
}

p:hover {
  font-size: 10vw;
}

.prof_pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
}

#current {
  display: block;
  background-color: var(--cbc);
  position: fixed;
  top: calc(50% - 250px);
  width: calc(100% - 40px);
  height: 500px;
  margin: 20px 0px 0px 20px;
  z-index: 11;
}

#close_button {
  height: 20px;
  width: auto;
  position: fixed;
  margin-left: -15px;
  margin-top: 5px;
  transition: all 1s;
}

#close_button:hover {
  height: 30px;
  width: auto;
}

#currPhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#currLeft {
  float: left;
  background-color: var(--cbc);
  height: 100%;
  width: calc(50% - 60px);
  padding: 0px 20px 0px 20px;
}

#currRight {
  float: right;
  margin: 10px;
  width: 50%;
  height: calc(100% - 20px);
}

#currLinks {
  position: absolute;
  width: calc(50% - 50px);
  text-align: center;
  bottom: 20px;
}

h1 {
  text-align: center;
  font-family: var(--f1);
  font-weight: 50;
  font-size: 4vw;
  color: var(--cptc);
  margin-bottom: 0;
  line-height: 4vw;
}

h2 {
  margin-top: 0;
  text-align: center;
  font-family: var(--f2);
  font-style: italic;
  font-weight: 50;
  font-size: 2vw;
  line-height: 1vw;
  color: var(--cstc);
  margin-bottom: 40px;

}

b {
  font-family: var(--f1);
  font-size: 2.5vw;
  font-weight: 100;
  color: var(--cptc);
}

span {
  font-family: var(--f2);
  font-size: 2vw;
  line-height: 3vw;
  font-weight: 100;
  color: var(--cptc);
}

/* CALENDAR */

.fc-day-number {
  color: var(--stc);
}

.fc-button-group {
  font-family: var(--f2);
}

/* ABOUT US */

#aboutContent {
  display: block;
  text-align: center;
}

.expo {
  display: block;
  width: 870px;
  margin: 0 auto;
  font-size: 2.5vw;
  line-height: 5vw;
  word-wrap: break-word;
  font-family: var(--t1);
  font-weight: 200;
  color: white;
}

h4 {
  display: block;
  width: 100%;
  font-family: var(--f1);
  font-weight: 100;
  line-height: 0;
  color: var(--stc);
  font-size: 15vw;
}

h3 {
  display: block;
  background-color: blue;
  width: 100%;
  margin-top: 0;
  line-height: 8vw;
  font-size: 4vw;
  font-weight: 50;
  color: var(--ptc);
  font-family: var(--f1);
}

#aboutTitle {
  height: 400px;
}


/* media queries  */

@media only screen and (max-width: 950px) {
	.sectionText {
    /* top: 150px; */
    font-size: 60px;
  }

  b {
    font-size: 3vw;
  }

  span {
    font-size: 3vw;
    line-height: 5vw;
  }
  .expo{
    width: 100%;
  }
  #yt {
    padding: 1vw;
  }
  .social {
    padding: 1vw;
  }

}


@media only screen and (max-width: 730px) {
	.sectionText {
    /* top: 160px; */
    font-size: 40px;
  }
  .half:hover {
    color: white;
    width: calc(50% - 5px);
  }

  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3vw;
    line-height: 3vw;
  }
  b {
    font-size: 4vw;
  }
  span {
    font-size: 4vw;
    line-height: 4vw;
  }
  .icon {
    height: 30px;
  }
  .icon:hover {
    height: 40px;
  }

}

@media only screen and (max-width: 480px) {
	.sectionText {
    /* top: 180px; */
    font-size: 20px;
  }

}

@media only screen and (max-width: 300px) {
	.sectionText {
    font-size: 10px;
  }
  .person {
    width: 100vw;
    height: 100vw;
  }

  p {
    line-height: 100vw;
  }

  p:hover {
    font-size: 20vw;
  }
}
