/* MAIN PAGE */


body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #111111;
}

.hideMe {
  display: none !important;
}

.pageEl {
  position: fixed;
  display: block;
  width: 100%;
  height: 40px;
  background-color: black;
  z-index: 20;
}

#header {
  top: -60px;
  height:100px;
}
#circle {
  position:relative;
  top: 0px;
  background-color: black;
  height:150px;
  width:150px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

#icon {
  position: relative;
  top: 70px;
  display: block;
  margin: 0 auto;
  padding: 3px;
  height: 50px;
  width: auto;
}
#footer {
  bottom: 0px;
}
.card {
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  transition: all 1s cubic-bezier(.25,.8,.25,1);
  -webkit-transition: all 1s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* PICTURES STYLING */

#sections {
  margin-top: 40px;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Shrikhand", cursive;
  color: white;
}

a {
  text-decoration: none;
}

#sections .whole {
  margin: 0 auto;
  width: 100%;
  color: yellow;
  transition: all .2s;
  -webkit-transition: all .5s;
}

#sections .whole:hover {
  color: white;
  width: calc(100% - 20px);
}

#two {
  margin: 0 auto;
}

.half {
  margin: 0 auto;
  width: 50%;
  color: yellow;
  transition: all .2s;
  -webkit-transition: all .5s;
}

.half:hover {
  color: white;
  width: calc(50% - 20px);
}
.sectionText {
  position: relative;
  top: 140px;
  font-size: 80px;
  margin: 0 auto;
}

#aboutUs {
  width: 100%;
  height: 400px;
  display: block;
  background-image: url("../images/group_pics/practice_room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#members {
  display: inline-block;
  height: 400px;
  background-image: url("../images/group_pics/od_profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#gigs {
  width: 100%;
  height: 400px;
  background-image: url("../images/group_pics/travis_solo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#contactUs {
  display: inline-block;
  height: 400px;
  background-image: url("../images/group_pics/group_casual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


#news {
  display: inline-block;
  height: 400px;
}

/* SOCIALS STYLING  */

#socials {
  height: 400px;
}
#socials .sectionText {
  top: 100px;
}

#links {
  margin-top: 40px;
}

#yt {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.social {
  height: 60px;
  padding: 20px;
}

.icon {
  height: 40px;
  width:auto;
  transition: all .5s;
  vertical-align: middle;
}

.icon:hover {
  height: 50px;
}




/* MEMBERS PAGE */
#men {
  margin-top: 40px;
  font-size: 0;
}

.person {
  font-size: 20px;
  display: inline-block;
  background-color: white;
  width: 50vw;
  height: 50vw;
  transition: all 1s;
}

p {
  margin: 0;
  font-family: "Shrikhand", cursive;
  color: white;
  width: inherit;
  height: inherit;
  line-height: 50vw;
  position: absolute;
  font-size: 0px;
  text-align: center;
  transition: all .5s;
}

p:hover {
  font-size: 10vw;
}

.prof_pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
}

#current {
  display: block;
  background-color: white;
  position: fixed;
  top: calc(50% - 250px);
  width: calc(100% - 40px);
  height: 500px;
  margin: 20px 0px 0px 20px;
  z-index: 11;
}

#close_button {
  height: 20px;
  width: auto;
  position: fixed;
  margin-left: -15px;
  margin-top: 5px;
  transition: all 1s;
}

#close_button:hover {
  height: 30px;
  width: auto;
}

#currPhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#currLeft {
  float: left;
  background-color: white;
  height: 100%;
  width: calc(50% - 60px);
  padding: 0px 20px 0px 20px;
}

#currRight {
  float: right;
  margin: 10px;
  width: 50%;
  height: calc(100% - 20px);
}

#currLinks {
  position: absolute;
  width: calc(50% - 50px);
  text-align: center;
  bottom: 20px;
}

h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  font-weight: 50;
  font-size: 4vw;
  color: black;
  margin-bottom: 0;
  line-height: 4vw;
}

h2 {
  margin-top: 0;
  text-align: center;
  font-family: "Concert One", cursive;
  font-style: italic;
  font-weight: 50;
  font-size: 2vw;
  line-height: 1vw;
  color: black;
  margin-bottom: 40px;

}

b {
  font-family: "Shrikhand", cursive;
  font-size: 2.5vw;
  font-weight: 100;
  color: black;
}

span {
  font-family: "Concert One", cursive;
  font-size: 2vw;
  line-height: 3vw;
  font-weight: 100;
  color: black;
}

/* ABOUT US */

#aboutContent {
  padding: 20px;
  margin-top:100px;
  background-color: blue;
}

.headerLink {
  display: block;
  width: 100px;
  color: white;
  font-size: 14px;
  font-family: "Concert One", cursive;
  position: absolute;
  z-index: 21;
}

h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 50;
  color: white;
  font-family: "Concert One", cursive;
}


/* media queries  */

@media only screen and (max-width: 950px) {
	.sectionText {
    top: 150px;
    font-size: 60px;
  }

  b {
    font-size: 3vw;
  }

  span {
    font-size: 3vw;
    line-height: 5vw;
  }
  .social {
    padding: 1vw;
  }
}


@media only screen and (max-width: 730px) {
	.sectionText {
    top: 160px;
    font-size: 40px;
  }
  .half:hover {
    color: white;
    width: calc(50% - 5px);
  }

  h1 {
    font-size: 5vw;
  }
  h2 {
    font-size: 3vw;
    line-height: 3vw;
  }
  b {
    font-size: 4vw;
  }
  span {
    font-size: 4vw;
    line-height: 4vw;
  }
  .icon {
    height: 30px;
  }
  .icon:hover {
    height: 40px;
  }

}

@media only screen and (max-width: 480px) {
	.sectionText {
    top: 180px;
    font-size: 20px;
  }

}

@media only screen and (max-width: 300px) {
	.sectionText {
    font-size: 10px;
  }
  .person {
    width: 100vw;
    height: 100vw;
  }

  p {
    line-height: 100vw;
  }

  p:hover {
    font-size: 20vw;
  }
}
