body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.pageEl {
  position: fixed;
  display: block;
  width: 100%;
  height: 40px;
  background-color: black;
}

#header {
  top: 0px;
}
#icon {
  display: block;
  margin: 0 auto;
  padding: 3px;
  height: 34px;
  width: auto;
}
#footer {
  bottom: 0px;
}
.card {
  box-shadow: 0 0px 0px rgba(0,0,0,0.12), 0 0px 0px rgba(0,0,0,0.24);
  transition: all 1s cubic-bezier(.25,.8,.25,1);
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#sections {
  margin-top: 40px;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Concert One", cursive;
  color: white;
}

#sections .whole {
  margin: 0px;
  width: 100%;
  transition: all .5s; */
}

#sections .whole:hover {
  margin: 10px;
  width: calc(100% - 20px);
}

.half {
  margin: 0px;
  width: 50%;
  transition: all .5s;
}

.half:hover {
  margin: 10px;
  width: calc(50% - 20px);
}
.sectionText {
  position: relative;
  top: 140px;
  font-size: 80px;
  margin: 0 auto;
}

#aboutUs {
  width: 100%;
  height: 400px;
  display: block;
  background-image: url("../images/group_pics/practice_room.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#members {
  display: inline-block;
  height: 400px;
  background-image: url("../images/group_pics/od_profile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#gigs {
  width: 100%;
  height: 400px;
  background-image: url("../images/group_pics/travis_solo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#contactUs {
  display: inline-block;
  height: 400px;
  background-image: url("../images/group_pics/group_casual.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
