body {
    background-color: #ffe490;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin-left: 5%;
    margin-right: 5%;
}

h1 {
    text-align: center;
    color: black;
    font-size: 50px;
}

h2 {
    text-align: center;
    color: black;
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

#links {
    text-align: center;
    font-size: 50px;
}

img {
    display: flex;
    width: 75%;
    height: 75%;
    margin: auto;
}
